<div id='posts'> 
  <% @blog_posts.each do |blog_post| %>
    <div class='post'>
      <h2><%= blog_post.title %></h2>
      <p class='cut'><%= blog_post.cut %></p>
      <%= link_to 'Читать дальше', blog_post %>
    </div>
  <% end %>
</div>

