<div class='post'>
  <h2><%= @blog_post.title %></h2>
  <p class='cut'><%= @blog_post.cut %></p>
  <p class='content'><%= @blog_post.content %></p>
  <%= link_to 'Вернуться к списку блогов', blog_posts_path %>
</div>
