<div class="top-panel">
  <div class="likeit">
    <div class="facebook">Facebook</div>
    <div class="twitter">Twitter</div>
  </div>
  <div class="text">
    <%= @about_header %>
  </div>
</div>
<div class="content">
  <h1 class="title-project">О проекте</h1>
  <div class="info">
    <p><%= @about_content %></p>
  </div>
</div>