<div class="top-panel">
  <div class="likeit">
    <div class="facebook">Facebook</div>
    <div class="twitter">Twitter</div>
  </div>
  <div class="box-join">
    <a href="#">Присоединиться к проекту</a>
  </div>
  <div class="text">
    Кроме того, среди списка событий стоит отметить Пятую московскую велоночь и лекцию Василия Гатова и Ильи Ценципера «Влияние Сократа на современные медиа», которую посетили около 200 человек.
  </div>
</div>
<div class="content">
  <h1 class="title-project">О проекте</h1>
  <div class="info">
    <p>Кроме редких исключений, внешние покровы рыб представлены кожей с чешуей. Как и у всех других позвоночных, кожа рыб делится на дерму и ороговевший эпидермис (поверхностный пласт). Железы в эпидермисе секретуют мускусоподобный экстракт, который защищает внешние покровы животного. В формировании чешуи принимают участие как внешние, так и внутренние пласты кожи. Хрящевые рыбы имеют плакоидную чешую, которая гомологична зубам всех позвоночных. </p>
  </div>
</div>