<div class="top-panel">
  <h1 class="title-blog">Блог</h1>
  <div class="text">
    <p>Лента всего, что происходит на сайте. Все события. Все новости. Весь дизайн в одной ленте.</p>
    <div class="likeit">
      <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
      <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
    </div>
  </div>
</div>
<div class="content">
  <div class="blog">
    <h2>Большая разница</h2>
    <div class="visual">
      <img src="/assets/image01.gif" width="406" height="289" alt="image description" />
    </div>
    <p>Круче вышитых гладью букв, могут быть только буквы которые можно съесть. Вот пара удачных примеров съедобной типографии: 1. Anna Garforth и ее постер из печенья. Не знаю как она это сделала, хотя на сайте есть убедительная</p>
    <a href="#" class="more">читать дальше</a>
  </div>
  <div class="blog">
    <h2>Orangelabel</h2>
    <div class="visual">
      <img src="/assets/image01.gif" width="406" height="289" alt="image description" />
    </div>
    <p>И постер дня, который мне иногда на лбу хочется носить. Хотя иногда, напротив, носителя такого хочется убитъ. Трудно быть шизофреником. Постер, в любом случае, хорош. (никакого нытья, никаких жалоб и абсолютно никаких хмурых рож.</p>
    <a href="#" class="more">читать дальше</a>
  </div>
  <div class="blog">
    <h2>Заверните все</h2>
    <div class="visual">
      <img src="/assets/image01.gif" width="406" height="289" alt="image description" />
    </div>
    <p>Не исключено, что название школы здесь играет не последнюю роль, идея не нова и все такое, но зато какая-то редкая гармония между как и что. Если бы это была обложка книги, можно было бы легко предположить и почти прочувствовать о чем она.</p>
    <a href="#" class="more">читать дальше</a>
  </div>
</div>