<div class="top-panel">
  <h1 class="title-blog">Блог</h1>
  <div class="text">
    <p><%= @blog_header %></p>
    <div class="likeit">
      <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
      <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
    </div>
  </div>
</div>
<div class="content">
  <% @blogs.each do |blog| %>
  <div class="blog">
    <h2><%= blog.title %></h2>
    <!--div class="visual">
      <img src="/assets/image01.gif" width="406" height="289" alt="image description" />
    </div-->
    <p><%= blog.cut %></p>
    <%= link_to 'Читать дальше', 'blog_inside/' + blog.id.to_s, :class=>"more" %>
  </div>
  <% end %>
</div>