<div class="top-panel">
  <h1 class="title-blog">Блог</h1>
  <div class="text">
    <p><%= @blog_header %></p>
    <div class="likeit">
      <div class="facebook">
        <div class="fb-like" data-send="false" data-width="250" data-show-faces="false"></div>
      </div>
      <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="This page is so cool:" data-hashtags="betterthanworse">Tweet</a>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <% @blogs.each do |blog| %>
  <div class="blog">
    <h2><%= blog.title %></h2>
    <p><%=raw blog.cut %></p>
    <%= link_to 'Читать дальше', 'blog_inside/' + blog.id.to_s, :class=>"more" %>
  </div>
  <% end %>
</div>