<div class="top-panel">
  <h1 class="title-connect">Коннект</h1>
  <div class="text">
    <ul class="socials">
      <li>
      <a href="#" class="facebook">facebook</a>
      </li>
      <li>
      <a href="#" class="twitter">twitter</a>
      </li>
    </ul>
    <p>+38/050 920 84 36 <a href="mailto:&#120;&#105;&#110;&#102;&#111;&#064;&#120;&#100;&#099;&#046;&#099;&#111;&#109;&#046;&#117;&#097;">&#120;&#105;&#110;&#102;&#111;&#064;&#120;&#100;&#099;&#046;&#099;&#111;&#109;&#046;&#117;&#097;</a></p>
  </div>
</div>
<div class="content">
  <form action="#" class="contact-form">
    <fieldset>
      <h2>Раскажите о себе:</h2>
      <div class="row">
        <label for="txt1">Имя:</label>
        <input type="text" id="txt1" class="text" />
      </div>
      <div class="row">
        <label for="txt2">Фамилия:</label>
        <input type="text" id="txt2" class="text" />
      </div>
      <h2>Немного слов:</h2>
      <textarea cols="10" rows="10" class="area"></textarea>
      <input type="submit" value="Отправить" class="submit" />
    </fieldset>
  </form>
  <div class="text-box">
    <p><%= @contact_content %></p>
  </div>
</div>