<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Project</title>
		<link href="css/all.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body id="contact">
		<div class="wrapper">
			<div id="header">
				<a href="#" class="link_about">О проекте</a>
				<strong class="logo"><a href="#">Project</a></strong>
				<ul id="navigation">
					<li><a href="#">Люди</a></li>
					<li><a href="#">Блог</a></li>
				</ul>
			</div>
			<div class="top-panel">
				<h1 class="title-connect">Коннект</h1>
				<div class="text">
					<ul class="socials">
						<li>
							<a href="#" class="facebook">facebook</a>
						</li>
						<li>
							<a href="#" class="twitter">twitter</a>
						</li>
					</ul>
					<p>+38/050 920 84 36 <a href="mailto:&#120;&#105;&#110;&#102;&#111;&#064;&#120;&#100;&#099;&#046;&#099;&#111;&#109;&#046;&#117;&#097;">&#120;&#105;&#110;&#102;&#111;&#064;&#120;&#100;&#099;&#046;&#099;&#111;&#109;&#046;&#117;&#097;</a></p>
				</div>
			</div>
			<div class="content">
				<form action="#" class="contact-form">
					<fieldset>
						<h2>Раскажите о себе:</h2>
						<div class="row">							
							<label for="txt1">Имя:</label>
							<input type="text" id="txt1" class="text" />
						</div>
						<div class="row">							
							<label for="txt2">Фамилия:</label>
							<input type="text" id="txt2" class="text" />
						</div>
						<h2>Немного слов:</h2>
						<textarea cols="10" rows="10" class="area"></textarea>
						<input type="submit" value="Отправить" class="submit" />
					</fieldset>					
				</form>
				<div class="text-box">
					<p>Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде. Благодаря эволюционным видоизменениям части опорно-двигательной системы приспособлены для выполнения также и других специализированных функций.</p>
				</div>
			</div>
			<div id="footer">
				<div class="box-link">
                   <a href="http://dontpanic.com.ua" class="mini-logo">Don't Panic Kharkov. Making great web-apps.</a>
     	           <p>Cделано без паники </p>
				   <p>&copy; <a href="http://dontpanic.com.ua">DontPanic</a> 2012</p>
				</div>
			</div>
	    </div>
	</body>
</html>
	