<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Project</title>
		<link href="css/all.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body id="home">
		<div class="wrapper">
			<div id="header">
				<a href="#" class="link_about">О проекте</a>
				<strong class="logo"><a href="#">Project</a></strong>
				<ul id="navigation">
					<li><a href="#">Люди</a></li>
					<li><a href="#">Блог</a></li>
				</ul>
			</div>
			<div class="top-panel">
				<div class="box-join">
					<a href="#">Присоединиться к проекту</a>
				</div>
				<div class="text">
					<p>
						Кроме того, среди списка событий стоит отметить Пятую московскую велоночь и лекцию Василия Гатова и Ильи Ценципера «Влияние Сократа на современные медиа», которую посетили около 200 человек.
					</p>
					<div class="likeit">
						<div class="facebook"><img src="./images/fb.gif" alt="fb" width="177" height="24" /></div>
						<div class="twitter"><img src="./images/twitter.gif" alt="twitter" width="98" height="22" /></div>
					</div>
				</div>
			</div>
			<div class="content">
				<h1 class="title-move">Двигаем Х</h1>
				<div class="slider-wrapper">
					<ul class="slider">
						<li>
							<div class="box">
								<a href="#">
									<span class="image">
										<img src="images/img01.png" alt="description" width="127" height="127" />
										<span class="mask"></span>							
									</span>
									<strong class="title">Из блога №1</strong>
									Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде.
								</a>	
						    </div>
							<div class="box">
								<a href="#">
									<span class="image">
										<img src="images/img02.png" alt="description" width="127" height="127" />
										<span class="mask"></span>							
									</span>
									<strong class="title">Из блога №2</strong>
									Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде.
								</a>	
						    </div>
							<div class="box">
								<a href="#">
									<span class="image">
										<img src="images/img03.png" alt="description" width="127" height="127" />
										<span class="mask"></span>							
									</span>
									<strong class="title">Из блога №3</strong>
									Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде.
								</a>	
						    </div>
						</li>
					</ul>
					<a class="btn-next">next</a>
				</div>
			</div>
			<div id="footer">
				<div class="box-link">
                   <a href="http://dontpanic.com.ua" class="mini-logo">Don't Panic Kharkov. Making great web-apps.</a>
     	           <p>Cделано без паники </p>
				   <p>&copy; <a href="http://dontpanic.com.ua">DontPanic</a> 2012</p>
				</div>
			</div>
	    </div>
	</body>
</html>
	