<div class="top-panel">
  <div class="text">
    <p>
      <%= @index_header %>
    </p>
    <div class="likeit">
      <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
      <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
    </div>
  </div>
</div>
<div class="content">
  <h1 class="title-move">Двигаем Х</h1>
  <div class="slider-wrapper">
    <ul class="slider">
      <li>
      <div class="box">
        <a href="#">
          <span class="image">
            <img src="/assets/img01.png" alt="description" width="127" height="127" />
            <span class="mask"></span>
          </span>
          <strong class="title">Из блога №1</strong>
          Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде.
        </a>	
      </div>
      <div class="box">
        <a href="#">
          <span class="image">
            <img src="/assets/img02.png" alt="description" width="127" height="127" />
            <span class="mask"></span>
          </span>
          <strong class="title">Из блога №2</strong>
          Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде.
        </a>	
      </div>
      <div class="box">
        <a href="#">
          <span class="image">
            <img src="/assets/img03.png" alt="description" width="127" height="127" />
            <span class="mask"></span>
          </span>
          <strong class="title">Из блога №3</strong>
          Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде.
        </a>
      </div>
      </li>
    </ul>
    <a class="btn-next">next</a>
  </div>
</div>