<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Project</title>
		<link href="css/all.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body id="people">
		<div class="wrapper">
			<div id="header">
				<a href="#" class="link_about">О проекте</a>
				<strong class="logo"><a href="#">Project</a></strong>
				<ul id="navigation">
					<li><a href="#">Люди</a></li>
					<li><a href="#">Блог</a></li>
				</ul>
			</div>
			<div class="top-panel">
				<div class="box-join">
					<a href="#">Присоединиться к проекту</a>
				</div>
				<div class="text">
					Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде. Благодаря эволюционным видоизменениям части опорно-двигательной системы приспособлены для выполнения также и других специализированных функций.
				</div>
			</div>
			<div class="main">
				<div class="title">
					<h1 class="title-people">Люди</h1>
					<div class="likeit">
						<div class="facebook"><img src="./images/fb.gif" alt="fb" width="177" height="24" /></div>
						<div class="twitter"><img src="./images/twitter.gif" alt="twitter" width="98" height="22" /></div>
					</div>
				</div>
				<div class="content">
					<ul class="photos-list">
						<li>
							<img src="images/img08.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img09.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img10.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img11.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img12.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img13.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img14.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img15.jpg" width="150" height="150" alt="image description" />
							<span class="mask"></span>
						</li>
					</ul>
				</div>
				<div class="bottom-box">
					<h2>Случайные работы:</h2>
					<ul class="items-list">
						<li>
							<a href="#">
								<img src="images/img16.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img17.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img18.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img19.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img20.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img21.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div class="box-link">
                   <a href="http://dontpanic.com.ua" class="mini-logo">Don't Panic Kharkov. Making great web-apps.</a>
     	           <p>Cделано без паники </p>
				   <p>&copy; <a href="http://dontpanic.com.ua">DontPanic</a> 2012</p>
				</div>
			</div>
	    </div>
	</body>
</html>