<div class="top-panel">
  <div class="box-join">
    <a href="#">Присоединиться к проекту</a>
  </div>
  <div class="text">
    Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде. Благодаря эволюционным видоизменениям части опорно-двигательной системы приспособлены для выполнения также и других специализированных функций.
  </div>
</div>
<div class="main">
  <div class="title">
    <h1 class="title-people">Люди</h1>
    <div class="likeit">
      <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
      <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
    </div>
  </div>
  <div class="content">
    <ul class="photos-list">
      <li>
      <img src="/assets/img08.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img09.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img10.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img11.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img12.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img13.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img14.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
      <li>
      <img src="/assets/img15.jpg" width="150" height="150" alt="image description" />
      <span class="mask"></span>
      </li>
    </ul>
  </div>
  <div class="bottom-box">
    <h2>Случайные работы:</h2>
    <ul class="items-list">
      <li>
      <a href="#">
        <img src="/assets/img16.jpg" width="101" height="101" alt="image description" />
        <span class="mask"></span>
      </a>
      </li>
      <li>
      <a href="#">
        <img src="/assets/img17.jpg" width="101" height="101" alt="image description" />
        <span class="mask"></span>
      </a>
      </li>
      <li>
      <a href="#">
        <img src="/assets/img18.jpg" width="101" height="101" alt="image description" />
        <span class="mask"></span>
      </a>
      </li>
      <li>
      <a href="#">
        <img src="/assets/img19.jpg" width="101" height="101" alt="image description" />
        <span class="mask"></span>
      </a>
      </li>
      <li>
      <a href="#">
        <img src="/assets/img20.jpg" width="101" height="101" alt="image description" />
        <span class="mask"></span>
      </a>
      </li>
      <li>
      <a href="#">
        <img src="/assets/img21.jpg" width="101" height="101" alt="image description" />
        <span class="mask"></span>
      </a>
      </li>
    </ul>
  </div>
</div>