<div class="top-panel">
  <div class="box-join">
    <a href="#">Присоединиться к проекту</a>
  </div>
  <div class="text">
    Опорно-двигательная система рыб — система органов и тканей рыб, которая позволяет им осуществлять движения и корректировать свое положение в окружающей среде. Благодаря эволюционным видоизменениям части опорно-двигательной системы приспособлены для выполнения также и других специализированных функций.
  </div>
</div>
<div class="main">
  <div class="title">
    <h1 class="title-people">Люди</h1>
    <div class="likeit">
      <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
      <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
    </div>
  </div>
  <div class="content">
    <ul class="photos-list">
      <% @people.each do |person| %>
        <li>
        <a href="/profile/<%= person.id.to_s %>">
          <%= image_tag(person.avatar, :size => "151x151") %>
          <span class="mask"></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="bottom-box">
    <h2>Случайные работы:</h2>
    <ul class="items-list">
      <% @projects.each do |prj| %>
      <li>
        <a href="/inside_project/<%= prj.id %>/">
          <%= image_tag(prj.thumbnail, :size => "101x101") %>
          <span class="mask"></span>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>