<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Project</title>
		<link href="css/all.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body id="profile">
		<div class="wrapper">
			<div id="header">
				<a href="#" class="link_about">О проекте</a>
				<strong class="logo"><a href="#">Project</a></strong>
				<ul id="navigation">
					<li><a href="#">Люди</a></li>
					<li><a href="#">Блог</a></li>
				</ul>
			</div>
			<div class="top-panel">
				<div class="box-join">
					<a href="#">Присоединиться к проекту</a>
				</div>
				<div class="profile">
					<div class="photo-holder">
						<div class="photo">
							<img src="images/photo02.jpg" width="151" height="150" alt="Андрей Кипченко" />
							<span class="mask"></span>
						</div>
						<ul class="socials">
							<li>
								<a href="#"><img src="images/facebook.gif" width="19" height="19" alt="facebook" /></a>
							</li>
							<li>
								<a href="#"><img src="images/twitter2.gif" width="19" height="19" alt="twitter" /></a>
							</li>
						</ul>
					</div>
					<div class="text">
						<h1>Андрей Кипченко</h1>
						<p>С развитием челюстей из одной из жаберных дуг, возникли первые рыбы. Кроме челюстей, рыбы имеюtт парные плавники, внутреннее ухо с тремя полукруглыми каналами и жаберные дуги. Несмотря на появление первых челюстноротых рыб еще в ордовике, они занимали подчиненное положение вплоть до девона. Таким образом, рыбы и бесчелюстные существовали больше 100 миллионов лет в условиях преобладания бесчелюстных, в отличие от настоящего времени.</p>
						<ul>
							<li>
								<a href="#">www.portfolio.com.ua</a>
							</li>
							<li>
								<a href="mailto:&#109;&#121;&#098;&#111;&#120;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#109;&#121;&#098;&#111;&#120;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
							</li>
						</ul>
						<div class="likeit">
							<div class="facebook"><img src="./images/fb.gif" alt="fb" width="177" height="24" /></div>
							<div class="twitter"><img src="./images/twitter.gif" alt="twitter" width="98" height="22" /></div>
						</div>
					</div>
				</div>
			</div>
			<div class="main">
				<div class="content">
					<p>Я предлагаю:</p>
					<ul class="works-list">
						<li>
							<img src="images/img28.gif" width="174" height="173" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img28.gif" width="174" height="173" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img28.gif" width="174" height="173" alt="image description" />
							<span class="mask"></span>
						</li>
						<li>
							<img src="images/img28.gif" width="174" height="173" alt="image description" />
							<span class="mask"></span>
						</li>
					</ul>
				</div>
				<div class="bottom-box">
					<h2>Другие участники:</h2>
					<ul class="items-list">
						<li>
							<a href="#">
								<img src="images/img22.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img23.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img24.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img25.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img26.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/img27.jpg" width="101" height="101" alt="image description" />
								<span class="mask"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div class="box-link">
                   <a href="http://dontpanic.com.ua" class="mini-logo">Don't Panic Kharkov. Making great web-apps.</a>
     	           <p>Cделано без паники </p>
				   <p>&copy; <a href="http://dontpanic.com.ua">DontPanic</a> 2012</p>
				</div>
			</div>
	    </div>
	</body>
</html>