// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

// Customization for imperavi-rails
.imp_redactor_box {
  margin-left: 20%;
  top: -18px;
  width: 77% !important;
}

.imp_redactor_frame {
  margin: 15px;
}
