<div id="footer">
  <div class="box-link">
    <a href="http://dontpanic.com.ua" class="mini-logo">Don't Panic Kharkov. Making great web-apps.</a>
    <p>Cделано без паники </p>
    <p>&copy; <a href="http://dontpanic.com.ua">DontPanic</a> 2012</p>
  </div>
</div>
