<div id="header">
    <a href="#" class="link_about">О проекте</a>
    <strong class="logo"><a href="#">Project</a></strong>
    <ul id="navigation">
      <li><a href="#">Люди</a></li>
      <li><a href="#">Блог</a></li>
    </ul>
</div>

