<div id="header">
  <a href="<%= about_path %>" class="link_about">О проекте</a>
  <strong class="logo"><a href="<%= index_path %>">Project</a></strong>
    <ul id="navigation">
      <li><a href="<%= people_path%>">Люди</a></li>
      <li><a href="<%= blog_path %>">Блог</a></li>
    </ul>
</div>

